// main background //

$main-background:#191b1f;
$base-color: #ffffff;
$white: #ffffff;
$primary-color: #48fabe;
$primary-color-hover:#0c5294;

$black-head:#1b1b1b;
$black:#000000;
$white-head:#ffffff;

$grey:#bbbbbb;
$grey-back:#2f2f2f;
$grey-light:#6a6a6a;
$grey-btn:#3f3f3f;

$green: #2f9861;
$blue: #03aff1;

$form-placeholder:#212326;
$form-border-color:#d7d7d7;
$form-back-color:#3b3c40;
$form-label: #bbbbbb;
$form-active-color:#E8E8E8;

$red-dark:#ff6060;
$red-back:#ffdbdb;
$black-dark:#222222;


// not in use
$default-color: #212326;
$black-light:red;
$black-sm:#1b1a1a;
$radio-btn-border:#ababab;
$drop-hover:#8e8e8e;
$border: #f0edf7;


$red-light:#f15454;


$dark-grey: #252525;
$peach: #c49e4b;




//font size
$f-10: 10px;
$f-11: 11px;
$f-12: 12px;
$f-13: 13px;
$f-14: 14px;
$f-15: 15px;
$f-16: 16px;
$f-18: 18px;
$f-19: 19px;
$f-20: 20px;
$f-23: 23px;
$f-24: 24px;
$f-25: 25px;
$f-27: 27px;
$f-28: 28px;
$f-29: 29px;
$f-30: 30px;
$f-34: 34px;
$f-35: 35px;
$f-36: 36px;
$f-38: 38px;
$f-40: 40px;
$f-45: 45px;

// img path
$img-path: '~assets/images/';